.recipe-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe-card-title {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.chef-info .header {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
}

.chef-info .normal {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgb(159, 156, 149);
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-wrapper img {
  width: 100%;
  display: block;
  border-radius: 0;
}

.vegan-tag {
  position: absolute;
  top: -25px;
  right: 5%;
  z-index: 1;
}

#author-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -1px;
  height: 50px;
  min-height: 50px;
}

#recipe-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  min-height: 40px;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footnote-p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 100%;
  font-weight: 700;
}

.footnote-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
