.recipe-description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-description-normal-text {
  font-family: "Roboto", sans-serif;
  color: "#333333";
  line-height: 140%;
  font-size: 14px;
}

.recipe-description-title-2 {
  font-family: "Montserrat", sans-serif;
  line-height: 120%;
  letter-spacing: -1px;
  font-size: 18px;
}

#recipe-instructions-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: "2px";
  font-size: 14px;
  color: #ee6352;
  text-transform: uppercase;
}

#recipe-instructions-header {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 120%;
  font-size: 12px;
  font-weight: bold;
}

#recipe-instructions-normal {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 120%;
  font-size: 12px;
  color: #333333;
}

.recipe-image-width {
  width: 100%;
}
